# sapui5
src/main/resources/webAppResources/sapui5/*


# build artefacts
build
dist


# Eclipse
.project
.classpath
.settings/
.launch
.launch/


# IntelliJ
.idea/
*.iml/
*.iws

# visual studio code
.vscode

# Mac
.DS_Store

# Maven
target/

# Node
node_modules
npm-debug.log


# eslint
eslint.log
eslint.tap

# Other
log
bin

src/main/webapp/doc